* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial;
}

header {
	height: 120px;
	width: 100%;
	background: #4b4b4b;
}

.container {
	width: 1170px;
	margin: 0 auto;
}

.header_block {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center; 
	height: 120px;
	justify-content: space-between;
}

.photo {
	border-radius: 50%;
	width: 75px;
	height: 75px;
	background: #7158e2;
}

.menu_list {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	list-style: none;
}

.menu_item {
	height: 30px;
	width: 100px;
	background: #7158e2;
	margin-right: 10px;
}

.menu_item:hover,
.menu_item:focus {
	transition: 0.5s;
	background: #18dcff;
}

.menu_item::last-child {
	margin-right: 0;
}

main {
	padding-top: 50px;
	padding-bottom: 50px;
}

.top_block {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
}

.top_block .item {
	background: #18dcff;
	text-align: center;
	padding: 20px;
	width: 47.5%;
}

.top_block .item .img {
	width: 90%;

	background: #cd84f1;
	margin: 0 auto;
	margin-bottom: 20px;
	color: #fff;
	font-size: 70px;
	font-family: Arial;
	align-items: center;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

p {
	display: block;
	margin: 0 auto; 
}

.top_block .item .text {
	color: #fff;
}

.bottom_block {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}

.bottom_block .item {
	width: 30%;
	padding: 20px;
	text-align: center;
	background: #18dcff;
}

.bottom_block .item .img {
	width: 90%;
	background: #cd84f1;
	margin: 0 auto;
	margin-bottom: 20px;
	color: #fff;
	font-size: 70px;
	font-family: Arial;
	align-items: center;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.bottom_block .item .text {
	color: #fff;
}


