* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	overflow-x: hidden;
}

.color_theme {
	display: block;
	position: fixed;
	right: 20px;
	z-index: 3;
	bottom: 20px;
}

.color_theme_checkbox {
	display: none;
}

.color_theme_slider {
	display: block;
	width: 80px;
	height: 40px;
	border-radius: 30px;
	background-color: #3c4145;
	border: 5px solid #1c1c1c;
	position: relative;
	box-sizing: border-box;
	transition: 0.5s;
}

.color_theme_slider::before {
	content: "";
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: #fff;
	position: absolute;
	border: 5px solid #e3e3c7;
	box-sizing: border-box;
	transform: translateX(0px);
	transition: 0.5s;
}

.color_theme_checkbox:checked + .color_theme_slider::before {
	transform: translateX(40px);
	background: #ffdf6d;
	border: 5px solid #e1c348;
	transition: 0.5s;
}

.color_theme_checkbox:checked + .color_theme_slider {
	transition: 0.5s;
	background-color: #9ee3fb;
	border: 5px solid #86c3d7;
}


.main_header {
	background: #000;
	height: 100vh;
	width: 100%;
}

.light_theme {
	background: #F03756 !important;
	transition: 1s;
}

.dark_theme {
	background: #000 !important;
	transition: 1s;
}

#particles-js {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}

#page-wrapper {
	position: relative;
	z-index: 2;
	padding-top: 30px;
	padding-right: 50px;
	padding-left: 50px;
}

.logo_block {
	position: relative !important;
}

.main_nav {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 220px;
}

.menu {
	position: relative !important;
}	

.menu_list {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	list-style: none;
}
.list_item {
	margin-right: 50px;
}

.list_item:nth-child(3) {
	margin-right: 450px;
}

.item_link {
	font-family: 'Roboto', sans-serif;
	color: #fff;
	font-size: 25px;
	text-decoration: none;
	position: relative;
}

.item_link::before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0%;
	height: 1px;
	background: #fff;
}

.item_link:hover::before,
.item_link:focus::before{
	width: 100%;
	transition: 0.7s;
}

.tree {
	position: absolute;
	background: url('img/tree.png') no-repeat;
	width: 865px;
	height: 100%; 
	right: 0;
	z-index: 2;
}

.header_title {
	font-family: 'Rubik Mono One', sans-serif;
	color: #fff;
	font-size: 50px;
	margin-bottom: 230px;
	display: block;
	position: relative;
}

.header_button {
	background: none;
	border: 2px solid #fff;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 80px;
	padding-left: 30px;
	font-family: 'Roboto';
	color: #fff;
	font-size: 20px;
	display: block;
	position: relative;
}

.header_button:hover,
.header_button:focus {
	color: #000;
	transition: 0.8s;
	transition-delay: 0.3s;
}

.header_button:before {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	left: 0;
	top: 0;
	background: #fff;
	z-index:-1;
}

.header_button:hover::before,
.header_button:focus::before {
	width: 100%;
	height: 100%;
	transition: 0.5s;
}

.header_button:after {
	content: "";
	background: url('img/arrow.png');
	width: 30px;
	height: 30px;
	position: absolute;
	right: 30px;
	top: 17px;
}


.header_button:hover::after,
.header_button:focus::after {
	filter: invert(1);
	transition: 0.8s;
	transition-delay: 0.3s;
}
.wrap {
  perspective: 1000px;
  perspective-origin: 50% 50%;
  position: absolute;
  right: 250px;
  z-index: 3;
  top: 300px;
}
.cube {
  margin: auto;
  position: relative;
  height: 200px;
  width: 200px;
  transform-style: preserve-3d;
}

.cube > div {
  position: absolute;
  box-sizing: border-box;
  padding: 0;
  height: 100%;
  width: 100%;
  border: solid 10px #fff;
  color: #ffffff;
  border-radius: 5px;
  opacity: 0.9;
}
.front {
  transform: translateZ(100px);
  background: #000;
}

.back {
   background-color: #fff;
  transform: translateZ(-100px) rotateY(180deg);
}

.right {
   background-color: #fff;
  transform: rotateY(-270deg) translateX(100px);
  transform-origin: top right;
}

.left {
   background-color: #fff;
  transform: rotateY(270deg) translateX(-100px);
  transform-origin: center left;
}

.top {
   background-color: #000;
  transform: rotateX(-270deg) translateY(-100px);
  transform-origin: top center;
}

.bottom {
   background-color: #fff;
  transform: rotateX(270deg) translateY(100px);
  transform-origin: bottom center;
}


.cube {
  animation: anim 1.5s ease-in-out infinite;
}

@keyframes anim  {
  0% {
    transform:rotateX(-30deg) rotateY(45deg) translateY(30px);
  }
  50%  {
    transform:rotateX(-30deg) rotateY(45deg) translateY(-10px);
  }
  100%  {
    transform:rotateX(-30deg) rotateY(45deg) translateY(30px);
  }
}





.wrap:hover .front {
  transform: translateZ(200px);
}

.wrap:hover .back {
  transform: translateZ(-200px) rotateY(180deg);
}

.wrap:hover .right {
  transform: rotateY(-270deg) translateZ(100px) translateX(100px);
}

.wrap:hover .left {
  transform: rotateY(270deg) translateZ(100px) translateX(-100px);
}

.wrap:hover .top {
  transform: rotateX(-270deg) translateZ(100px) translateY(-100px);
}

.wrap:hover .bottom {
  transform: rotateX(270deg) translateZ(100px) translateY(100px);
}




.cube > div {
  transition: transform 0.2s ease-in;
}

